Package: bayeos-server
Version: ${project.version}
Section: server
Priority: optional
Architecture: all
Pre-Depends: default-jre-headless (>= 2:1.11)
Depends: postgresql (>= 9.0),  postgresql-contrib, postgresql-plperl, apache2, libpq-dev
Recommends: ssl-cert
Description: BayEOS XMLRPC Server a lightweight observation database interface
Maintainer: oliver.archner@uni-bayreuth.de
Homepage: https://github.com/BayCEER/bayeos-server
  